<p>Liste d'emploi</p>
<div *ngFor="let p of listEmploi">
  {{p.id}}
  {{p.titre}}
  {{p.entreprise}}
  {{p.etat}}
  <div *ngIf="p.etat==false">
  <input type="submit" value="POSTULER" disabled>
  </div>
  <div *ngIf="p.etat==true">
  <input type="submit" value="POSTULER" >
</div>
</div>
<input type="=submit"  (click)=" calculer()">
